{% extends "user/user_index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <style>
        table:hover{
            box-shadow: black 0 0 40px;
            transition-delay: 6ms;
            transition-duration: 0.3s;
        }
        table{
            border-radius: 15px;
        }

    </style>

</head>

<body><form action="/send_comp_post" method="post"><table width="20%" border="0" class="table table-dark  table-borderless w-50 offset-3">
    {% csrf_token %}
  <tr>
    <th scope="row">complaint</th>
    <td>
      <textarea name="textarea" id="textarea" class="form-control" required cols="45" rows="5"></textarea></td>
  </tr>
  <tr>
    <td align="center" colspan="2" scope="row"><input type="submit" class="btn btn-success" name="button" id="button" value="send" /></td>
    </tr>
</table>
</form>
</body>
</html>
{% endblock %}
