{% extends "user/user_index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="/uploadimage_post" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table width="200" border="1" class="table table-dark">
  <tr>
    <th scope="col">File</th>
    <th scope="col">
      <input type="file" name="fileField" id="fileField" class="form-control" required/></th>
  </tr>
  <!--<tr>
    <th scope="row">Type</th>
    <td><label for="select"></label>
      <select name="select" id="select">
          <option value="img">image</option>
          <option value="vid">video</option>
      </select></td>
  </tr>-->
        <tr>
            <th scope="row">Price</th>
      <td>
      <input type="number" min="10" name="textfield" class="form-control" required id="textfield" /></td>
       </tr>
  <tr align="center">
    <td colspan="2" align="center"><input type="submit" name="button" id="button"  class="btn btn-dark" value="Upload"  /></td>
    </tr>
</table>
</form>
</body>
</html>
{% endblock %}