<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get"><table width="200" border="1">
{#  <tr>#}
{#    <th scope="row"><a href="#">Register</a></th>#}
{#  </tr>#}
  <tr>
    <th scope="row"><a href="/viewprofile">View profile</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/uploadimage">Upload file</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewimage">View file</a></th>
  </tr>
    <tr>
    <th scope="row"><a href="/viewothersimage">View other's file</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/sendreq">Send request</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_request">View request</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_req_status">View request status</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/send_comp">Send complaint</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_reply">View reply</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/sendfeedback">Send feedback</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/logout">Logout</a></th>
  </tr>
</table>
</form>
</body>
</html>
